*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --firstColor: #111010;
    --secondColor: #d89f15;
}

body, html{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.background-image{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -100;
    
}

body::-webkit-scrollbar{
    width: 0.5rem;
    background-color: var(--firstColor);
    
}
body::-webkit-scrollbar-thumb{
    background-color: var(--secondColor);
    border-radius: 1rem; 
}

